.config/*

# zsh terminal
!.config/zsh
!.config/zsh/**/*

# window manager
!.config/awesome
!.config/awesome/**/*

# terminal emulator
!.config/alacritty
!.config/alacritty/**/*

# compositor (transparency, blur, shadows, etc)
!.config/picom
!.config/picom/**/*

# system info fetcher when u open terminal
!.config/fastfetch
!.config/fastfetch/**/*

# theme for gnome
!.config/gtk-*
!.config/gtk-*/**/*

# neovim settings
!.config/nvim
!.config/nvim/**/*

# my scripts
.local/bin/*
!.local/bin/devc-start
!.local/bin/flameshot-ocr
!.local/bin/mdpreview

# X11
!X11/
!X11/xresources

# xbindkeys
!xbindkeys/
!xbindkeys/config